.container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}

.container > img {
    text-align: center;
    background-color: azure;
    font-size: 30pt;
    border: 2px solid black;
    border-radius: 10px;
    height: 40vh; 
}

